/**
 *
 */
@import '@fortawesome/fontawesome-free/css/solid.min.css';
@import '@fortawesome/fontawesome-free/css/regular.min.css';
@import '@fortawesome/fontawesome-free/css/fontawesome.min.css';

/**
 *
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 *
 */
html {
    @apply
    h-[100%]
    text-[14px]
    text-slate-800
    antialiased;
}

body {
    @apply
    h-[100%]
    text-[14px]
    text-slate-800
    antialiased
    relative;
}

/**
 *
 */
h1, .h1 {
    @apply
    text-[34.84px]
    font-bold;
}

h2, .h2 {
    @apply
    text-[29.03px]
    font-bold;
}

h3, .h3 {
    @apply
    text-[24.19px]
    font-bold;
}

h4, .h4 {
    @apply
    text-[20.16px]
    font-bold;
}

h5, .h5 {
    @apply
    text-[16.80px]
    font-bold;
}

h6, .h6 {
    @apply
    text-[14px]
    font-bold;
}

.text-base {
    @apply
    text-[14px];
}

.text-sm {
    @apply
    text-[11.67px];
}

/**
 *
 */
pre {
    @apply
    text-sm;
}

/**
 *
 */
.label {
    @apply
    block
    text-base
    text-slate-600
    mb-2;
}

.invalid-feedback {
    @apply
    mt-2
    space-y-1;
}

.invalid-feedback__message {
    @apply
    block
    text-base
    text-red-600;
}

.input {
    @apply
    block
    relative
    w-[100%]
    p-[13px]
    text-left
    text-base
    text-slate-800
    placeholder-slate-600
    rounded-lg
    border
    border-slate-300
    bg-slate-50/50
    outline-none
    appearance-none
    focus:ring-0
    focus:ring-transparent
    focus:border-indigo-600
    read-only:bg-slate-100
    read-only:focus:border-slate-300
    disabled:bg-slate-100
    disabled:focus:border-slate-300
    [&.is-invalid]:border-red-600;
}

.input[type="file"] {
    @apply
    pt-0
    pb-0
    pl-0
    file:bg-transparent
    file:border-0
    file:bg-slate-200
    file:mr-[13px]
    file:py-[13px]
    file:px-[13px];
}

.select {
    @apply
    block
    relative
    w-[100%]
    p-[13px]
    text-left
    text-base
    text-slate-800
    placeholder-slate-600
    rounded-lg
    border
    border-slate-300
    bg-slate-50/50
    cursor-pointer
    outline-none
    appearance-none
    focus:ring-0
    focus:ring-transparent
    focus:border-indigo-600
    [&.is-invalid]:border-red-600;
}

.checkbox {
    @apply
    w-[1.1rem]
    h-[1.1rem]
    rounded
    appearance-none
    bg-slate-50/50
    border-slate-300
    text-indigo-600
    shadow-sm
    focus:ring-4
    focus:ring-indigo-100
    focus:ring-offset-0
    focus:border-indigo-600
    [&.is-invalid]:border-red-600;
}

.textarea {
    @apply
    block
    relative
    w-[100%]
    min-h-[140px]
    p-[13px]
    text-left
    text-base
    text-slate-800
    placeholder-slate-600
    rounded-lg
    border
    border-slate-300
    bg-slate-50/50
    outline-none
    appearance-none
    focus:ring-0
    focus:ring-transparent
    focus:border-indigo-600
    read-only:bg-slate-100
    read-only:focus:border-slate-300
    disabled:bg-slate-100
    disabled:focus:border-slate-300
    [&.is-invalid]:border-red-600;
}

/**
 *
 */
.button {
    @apply
    inline-flex
    justify-center
    items-center
    flex-shrink-0
    gap-3
    py-[13px]
    px-[21px]
    text-base
    text-center
    text-slate-800
    no-underline
    outline-none
    rounded-lg
    border
    border-transparent
    bg-slate-100
    hover:bg-slate-200
    focus:bg-slate-300
    focus:ring-4
    focus:ring-slate-100/10
    focus:ring-offset-0
    [&.--primary]:bg-indigo-600
    [&.--primary]:text-indigo-50
    [&.--primary]:hover:bg-indigo-700
    [&.--primary]:focus:bg-indigo-800
    [&.--primary]:focus:ring-indigo-600/10
    [&.--danger]:bg-red-600
    [&.--danger]:text-red-50
    [&.--danger]:hover:bg-red-700
    [&.--danger]:focus:bg-red-800
    [&.--danger]:focus:ring-red-600/10;
}

/**
 *
 */
.table-responsive {
    @apply
    overflow-x-auto;
}

.table {
    @apply
    w-[100%]
    rounded-lg
    overflow-hidden;
}

.table__th,
.table__td {
    @apply
    py-4
    px-8
    border-b
    border-slate-300
    whitespace-nowrap;
}

.table__tbody > .table__tr:last-child > .table__td {
    @apply
    border-0;
}

.table__th {
    @apply
    font-semibold
    text-left
    text-base
    text-slate-800
    bg-slate-100;
}

.table__td {
    @apply
    text-left
    text-base
    text-slate-800
    bg-white;
}
